@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Red Hat Display', sans-serif;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  position: relative;
  min-height: 100vh;
  font-size: 16px;
}
.contianer{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.text{
  padding: 5%;
  text-align: center;
}

.title{
  color:hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}

.paragraph{
  color: #7B7D7D;
  margin-bottom:20px;
}

.box{
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  display: flex;
  padding:4%;
  justify-content: space-between;
  text-align:center;
}
.box a:hover{
  text-decoration: none;
  color:hsl(245, 75%, 52%);
}
.left-box{
  display: flex;
  text-align: center;
}
.left-box div{
  margin-left: 20px;
}
.left-box img{
  margin-right:10px;
}
.left-box div h5{
  font-weight: 900;
  font-size: 16px;
}
.left-box div p{
  font-size: 15px;
  color: #7B7D7D;
}
.box a{
  font-weight: 900;
}
a.P-button{
  color:white;
  display: block;
  text-decoration: none;
  background-color:  hsl(245, 75%, 52%);
  padding:20px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 900;
}
a.P-button:hover{
  background-color: hsl(224, 23%, 55%);
}
a.C-button {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}
a.C-button:hover{
  color:hsl(223, 47%, 23%);
}
@media only screen and (max-width: 425px) {
  body{
    background-image: url(images/pattern-background-desktop.svg);
    font-size: 14px;
  }
  .contianer{
    max-width: 85%;
  }
  .title{
    font-size: 20px;
  }
  .paragraph{
    font-size: 16px;
  }
  .box{
    padding: 12px;
  }
}
